** Step 1 : Data Exploration and Analysis **

In [64]:
# importing libraries

import pandas as pd

In [65]:
df = pd.read_csv('../Walmart.csv',encoding_errors='ignore')

df.shape

(10051, 11)

In [66]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [67]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [69]:
df.duplicated

<bound method DataFrame.duplicated of        invoice_id   Branch         City                category unit_price  \
0               1  WALM003  San Antonio       Health and beauty     $74.69
1               2  WALM048    Harlingen  Electronic accessories     $15.28
2               3  WALM067  Haltom City      Home and lifestyle     $46.33
3               4  WALM064      Bedford       Health and beauty     $58.22
4               5  WALM013       Irving       Sports and travel     $86.31
...           ...      ...          ...                     ...        ...
10046        9996  WALM056      Rowlett     Fashion accessories        $37
10047        9997  WALM030   Richardson      Home and lifestyle        $58
10048        9998  WALM050     Victoria     Fashion accessories        $52
10049        9999  WALM032        Tyler      Home and lifestyle        $79
10050       10000  WALM069     Rockwall     Fashion accessories        $62

       quantity      date      time payment_method  rating  profit_margin
0           7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1           5.0  08/03/19  10:29:00           Cash     9.6           0.48
2           7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3           8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4           7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...         ...       ...       ...            ...     ...            ...
10046       3.0  03/08/23  10:10:00           Cash     3.0           0.33
10047       2.0  22/02/21  14:20:00           Cash     7.0           0.48
10048       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
10049       2.0  25/02/21  12:25:00           Cash     7.0           0.48
10050       3.0  26/09/20   9:48:00           Cash     3.0           0.33

[10051 rows x 11 columns]>

In [70]:
df.duplicated().sum()

np.int64(51)

In [71]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [72]:
df.drop_duplicates(inplace=True)

In [73]:
df.duplicated().sum()

np.int64(0)

In [74]:
df.shape

(10000, 11)

In [75]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [76]:
# Check if any missing values in each column
print(df.isna().any())

invoice_id        False
Branch            False
City              False
category          False
unit_price         True
quantity           True
date              False
time              False
payment_method    False
rating            False
profit_margin     False
dtype: bool

In [77]:
# Count missing values in each column
print(df.isna().sum())

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [78]:
df

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
9996,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
9997,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
9998,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
9999,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [79]:
# Print the rows with NaN values
print("Rows with missing values (NaN):")

na_rows = df[df.isna().any(axis=1)]
print(na_rows)

Rows with missing values (NaN):
      invoice_id   Branch           City             category unit_price  \
1892        1893  WALM024     Carrollton   Home and lifestyle        NaN
1893        1894  WALM009          Plano  Fashion accessories        NaN
1894        1895  WALM010         Laredo   Home and lifestyle        NaN
1895        1896  WALM069       Rockwall  Fashion accessories        NaN
1896        1897  WALM093       Angleton   Home and lifestyle        NaN
1897        1898  WALM098  Mineral Wells  Fashion accessories        NaN
1898        1899  WALM009          Plano   Home and lifestyle        NaN
1899        1900  WALM071         Lufkin  Fashion accessories        NaN
1900        1901  WALM090      Brownwood   Home and lifestyle        NaN
1901        1902  WALM067    Haltom City  Fashion accessories        NaN
1902        1903  WALM033       Pearland   Home and lifestyle        NaN
1903        1904  WALM018         Frisco  Fashion accessories        NaN
1904        1905  WALM076     Huntsville   Home and lifestyle        NaN
1905        1906  WALM010         Laredo  Fashion accessories        NaN
1906        1907  WALM030     Richardson   Home and lifestyle        NaN
1907        1908  WALM001        Houston  Fashion accessories        NaN
1908        1909  WALM096     Eagle Pass   Home and lifestyle        NaN
1909        1910  WALM085      Kerrville  Fashion accessories        NaN
1910        1911  WALM040       Edinburg   Home and lifestyle        NaN
1911        1912  WALM080    Nacogdoches  Fashion accessories        NaN
1912        1913  WALM068       Burleson   Home and lifestyle        NaN
1913        1914  WALM048      Harlingen  Fashion accessories        NaN
1914        1915  WALM018         Frisco   Home and lifestyle        NaN
1915        1916  WALM015  Grand Prairie  Fashion accessories        NaN
1916        1917  WALM041        Mission   Home and lifestyle        NaN
1917        1918  WALM045  Missouri City  Fashion accessories        NaN
1918        1919  WALM011        Lubbock   Home and lifestyle        NaN
1919        1920  WALM052      Mansfield  Fashion accessories        NaN
1920        1921  WALM022       Mesquite   Home and lifestyle        NaN
1921        1922  WALM024     Carrollton  Fashion accessories        NaN
1922        1923  WALM070          Hurst   Home and lifestyle        NaN

      quantity      date      time payment_method  rating  profit_margin
1892       NaN  09/06/23  16:09:00        Ewallet     9.0           0.48
1893       NaN  02/08/22  22:11:00        Ewallet     4.0           0.48
1894       NaN  01/08/23  12:06:00        Ewallet     4.0           0.48
1895       NaN  21/07/23  15:49:00        Ewallet     4.0           0.33
1896       NaN  15/05/22  12:36:00        Ewallet     9.0           0.33
1897       NaN  01/11/23  10:08:00        Ewallet     4.0           0.18
1898       NaN  01/10/21  13:05:00        Ewallet     6.0           0.48
1899       NaN  19/05/21   8:36:00        Ewallet     7.0           0.33
1900       NaN  13/02/21  14:50:00        Ewallet     8.0           0.33
1901       NaN  15/05/22  19:20:00        Ewallet     8.0           0.33
1902       NaN  28/08/22  15:37:00        Ewallet     4.0           0.48
1903       NaN  21/04/22  18:30:00        Ewallet     4.0           0.48
1904       NaN  02/03/20  14:33:00        Ewallet     4.0           0.33
1905       NaN  20/08/21  14:25:00        Ewallet     5.0           0.48
1906       NaN  14/12/23  18:12:00        Ewallet     8.0           0.48
1907       NaN  09/08/22  12:46:00        Ewallet     9.0           0.36
1908       NaN  23/11/21  18:26:00        Ewallet     9.0           0.33
1909       NaN  24/08/22  11:53:00        Ewallet     4.0           0.33
1910       NaN  27/07/20  21:38:00        Ewallet     9.0           0.48
1911       NaN  15/10/20   8:01:00        Ewallet     7.0           0.33
1912       NaN  31/07/23   9:20:00        Ewallet     6.0           0.33
1913       NaN  28/02/21  18:47:00        Ewallet     7.0           0.48
1914       NaN  19/04/23  16:12:00        Ewallet     7.0           0.48
1915       NaN  11/08/21  21:28:00        Ewallet     5.0           0.48
1916       NaN  25/06/23  13:15:00        Ewallet     6.0           0.48
1917       NaN  11/01/20  10:27:00    Credit card     5.0           0.48
1918       NaN  01/08/22  14:40:00        Ewallet     8.0           0.48
1919       NaN  09/04/21  12:04:00        Ewallet     5.0           0.57
1920       NaN  21/03/20  18:16:00        Ewallet     6.0           0.48
1921       NaN  16/03/21  15:39:00        Ewallet     8.0           0.48
1922       NaN  30/10/20  18:39:00        Ewallet     5.0           0.33

In [80]:
df2 = df.copy()

df2

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
9996,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
9997,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
9998,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
9999,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [81]:
#dropping all rows with missing records

df.dropna(inplace=True)

In [82]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [83]:
df.shape

(9969, 11)

In [84]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [85]:
#since unit_price is taken as object(string) we need to convert it into either float or int but we need to first remove $ sign 
df['unit_price'] = df['unit_price'].str.replace('$','')

# df.head()

# now change string(object) to float or int
df['unit_price'] = df['unit_price'].astype(float)

df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [86]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [87]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [88]:
df['revenue'] = df['unit_price'] * df['quantity']

In [89]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,revenue
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [90]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'revenue'],
      dtype='object')

In [91]:
df.columns = df.columns.str.lower()

df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'revenue'],
      dtype='object')

In [92]:
df.to_csv('cleaned_walmart_data.csv',index=False)

In [93]:
from dotenv import load_dotenv
import os

load_dotenv()  
host = os.getenv("HOST")
port = os.getenv("PORT")
user = os.getenv("USER")
password = os.getenv("PASSWORD")

In [94]:
# *** mysql tool kits ***

# Use pymysql as the MySQL driver

import pymysql
from sqlalchemy import create_engine

In [95]:

try:
    engine_mysql = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/walmart_db")
    print("connected successfully to mysql")
except Exception as e:
    print("unable to connect")
    print("Error:", e)

connected successfully to mysql

In [99]:
# Write DataFrame to SQL
df.to_sql(name='walmart_sales', con=engine_mysql, if_exists='append', index=False)

9969